body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor:pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* #region top-line */
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
}
.line-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-logo{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-accent {
    color:#2e2f42;
}

.line-nav-list, .line-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus,
.addr-link:hover,
.addr-link:focus {
    color: #404bbf;
}

.line-address {
    font-style: normal;
    margin-left: auto;
}

.addr-link {
    color: #434455;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-hover {
    position: relative;
    color: #404bbf;
}

.nav-hover::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

/* #endregion */

/* #region hero */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
/* #endregion */

/* #region features */
.features{
    padding: 120px 0;
}

.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;    
}

.features-item {
    width: calc((100% - 72px)/4);
}
.icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    padding: 23px 100px;
    margin-bottom: 8px;
}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* .features-item-text {} */
/* #endregion */

/* #region team */
.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info{
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-list-text {
    text-align: center;
}
.links-list {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.links-list-item {
    width: 40px;
    height: 40px;
}
.link-item:hover,.link-item:focus{
    background-color: #404bbf;
}
.link-item{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-icon {
    fill: #f4f4fd;
}
/* #endregion */

/* #region portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .overlay-text,.portfolio-list-item:hover{
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    top: 0;
    transform: translateY(0);
}

.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* .portfolio-list-text {} */
/* #endregion */

/* #region footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-cont{
    display: flex;
    align-items: baseline;
}

.footer-info{
    margin-right: 120px;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

footer .logo-accent {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}
.media-cont{
    margin-right: 80px;
}

.social-title{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.links-list-footer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.links-list-item-footer{
    width: 40px;
    height: 40px;
}
.link-item-footer{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item-footer:hover,.link-item-footer:focus{
    background-color: #31d0aa;
}
/* .form-sbscrb{} */

.sbscrb-info{
    display: block;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.sub-cont{
    display: flex;
    gap: 24px;
}
.sbscrb-email{
    background-color: #2e2f42;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    padding-left: 16px;
}
.sbscrb-email::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}   
.sbscrb-btn{
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sbscrb-btn:hover, .sbscrb-btn:focus{
    background-color: #404bbf;
}
.send-icon{
    fill: #ffffff;
}
/* #endregion */